
@{
    ViewBag.Title = "BMItoLate";
    
}

<h2>Really man??</h2>

<p>I'm dreaming about beauty stripping harddrive and you wake me up to count some fukin' BMI???   </p>

<p>format c://... in progress</p>

